h1,
h2,
h3,
h4,
h5, 
h6 {
    color: $gray-01;
}

h1 {
    font: bold 2rem/135% 'Comfortaa'; //32
    letter-spacing: -0.02em;

    @media(max-width: 550px){
        font-size: 28px;
    }
}

h2 {
    font: bold 2rem/135% 'Comfortaa';  //32
    letter-spacing: -0.02em;

    &.title-sec {
        color: $brand-black;
        font: bold 24px/150% 'Comfortaa';
    }

    @media(max-width: 550px){
        font-size: 24px;
    }
}

h3 {
    font: bold 18px/135% 'Comfortaa';
}

.text{
    font: normal 14px/150% 'Comfortaa';
    letter-spacing: -0.01em;
}

.sub-title{
    font: bold 16px/24px 'Comfortaa';
    color: $blue-dark;
    display: block;
    margin-bottom: 10px;
}

.ctrl-slide {
    cursor: pointer;
    background-color: $white;
    border-radius: 6px;

    width: 86px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 16px 32px rgba(216, 216, 223, 0.6);

    .btn {
        cursor: pointer;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;

        &:hover{
            transform: scale(1.2);
            transition: all .3s;
        }
    }

    .swiper-button-disabled {
        transition: all .3s;
        opacity: 0.6;
    }

    @media(max-width: 800px){
        .btn{
            &:hover{
                transform: scale(1) !important;
            }
        }
    }
}