
$magenta:#CF0080; 
$pink: #F0047F;
$green:#22C532;
$white: #ffffff;

$blue:#00A5FF;
$blue-light:#11C3FF;
$blue-dark: #1172EB;

$brand-black: #2B2B3A;
$title: #47475B;

$gray-01: #212121;
$gray-02: #585858;
$gray-03:#909090;
$gray-04:#B8B8B8;
$gray-05:#DCDCDC;
$gray-06: #F8F8FA;
$gray-07: #f5f5f5;
$gray-08: #f8f8fa;

$dark-mode: #292929;


